{% extends 'geolocation/bricks/google/detail-map.html' %}
{% load i18n creme_core_tags creme_bricks %}

{% block brick_extra_class %}geolocation-brick geolocation-leaflet-detail-brick{% endblock %}

{% block brick_script %}
    <script type="text/javascript">
         $('.brick[id="{{brick_id}}"]').on('brick-ready', function(event, brick) {
             new creme.geolocation.PersonsBrick(brick, {
                 mapController: new creme.geolocation.LeafletMapController(),
                 addresses: {{geoaddresses|jsonify|safe}},
                 locationUrl: '{% url 'geolocation__set_address_info' %}'
             });
         });
    </script>
{% endblock %}

{% block brick_geomap_error %}{% endblock %}
